<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Souls of Black Folks (2016)</string>
		<string>http://iam.colum.edu/students/adlyn.morrison/ios/soulsofblackfolks.png</string>
	</array>
	<array>
		<string>Cointelpro (coming 2016)</string>
		<string>http://iam.colum.edu/students/adlyn.morrison/ios/cointelpro.png</string>
	</array>
	<array>
		<string>Backwoods (coming 2016)</string>
		<string>http://iam.colum.edu/students/adlyn.morrison/ios/backwoods.png</string>
	</array>
	<array>
		<string>Turner Awards</string>
		<string>http://iam.colum.edu/students/adlyn.morrison/ios/turner.html</string>
	</array>
</array>
</plist>
